
#cabeceraWeb {
    background: blue;
}

#navegacionPrincipal {
    background: pink;
}

#barraLatera {
    background: green;
}

#contenidoPrincipal {
    background: yellow;
}

#piePagina {
    background: aquamarine;
}